

.button-menu {
    color:var(--primary-color);
    cursor: pointer;
    
}

.ml-72 {
    margin-left: 18rem;
}

.rounded-full {
    border-radius:9999px;
}

.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}

.navbar, .nav-item {
    z-index: 10000;
}

.tracking-tight{
    letter-spacing: '-.025em';
}

@media  screen and (max-width:800px) {
    .sidebar{
      z-index: 10000000;
    }
}

.overview-display-blocks {
    border-radius: 1rem;
    background-color: #ffffff;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 0.6rem;
    width: auto;
    border-width: 3px;
    border-color: red;

}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}